<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589939512131-b33o3m3ubdbgceqf1jqqr7mgmai3jukn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589939512131-b33o3m3ubdbgceqf1jqqr7mgmai3jukn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>589939512131-4r8b7jks8qvri1uaj6hf8500cqa46i5e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2MVovNnDX1Bj0-wlHPNb_TNvgBV-V978</string>
	<key>GCM_SENDER_ID</key>
	<string>589939512131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.mercadojusto</string>
	<key>PROJECT_ID</key>
	<string>mercado-justo-bc5a8</string>
	<key>STORAGE_BUCKET</key>
	<string>mercado-justo-bc5a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589939512131:ios:736f9e03246fb5316d95f6</string>
</dict>
</plist>